<ul style="padding: 0; list-style-type: none">
  <li style="padding: 0; list-style-type: none">
    <mat-checkbox color="primary" [(ngModel)]="resourceNode.selected" [checked]="resourceNode.selected" (change)="onSelectionChange($event)" [disabled]="resourceNode.resourceType !== 'TEC'"/>
    <span #tooltip="matTooltip" matTooltip="{{resourceNode.resourceId}} - {{resourceNode.resourceType}}">{{resourceNode.name}}</span>
    <ul *ngIf="resourceNode.children?.length">
      <ng-container *ngFor="let child of resourceNode.children">
        <app-resource-tree [resourceNode]="child"></app-resource-tree>
      </ng-container>
    </ul>
  </li>
</ul>
