<ng-container *ngIf="vm$ | async as vm">
  <ng-container *ngIf="displayableNodes; else noResultsMessageTemplate">
    <ul class="pl-2 list-none">
      <li class="pl-2 list-none">
        <mat-checkbox color="primary" [(ngModel)]="displayableNodes.selected" [checked]="displayableNodes.selected" (change)="onSelectionChange($event)" [disabled]="displayableNodes.resourceType !== 'TEC' && displayableNodes.resourceType !== 'BK'" #tooltip="matTooltip" matTooltip="{{displayableNodes.resourceId}} - {{displayableNodes.resourceType}}">{{displayableNodes.name}}</mat-checkbox>
        <ul *ngIf="displayableNodes.children?.length">
          <ng-container *ngFor="let childNode of displayableNodes.children">
            <app-resource-tree [resourceNode]="childNode" [searchTerm]="searchTerm" [fromResource]="fromResource"></app-resource-tree>
          </ng-container>
        </ul>
      </li>
    </ul>
  </ng-container>
  <ng-template #noResultsMessageTemplate>
    <div class="text-center p-4">
      <p>{{ noResultsMessage }}</p>
    </div>
  </ng-template>
</ng-container>
