<section class="flex justify-around items-center flex-col w-full h-4/5">
  <ng-container *ngIf="vm$ | async as vm">
    <ng-container *ngIf="vm.resourcesTreeResidencial">
      <div class="flex flex-col justify-start items-center w-full h-full">
        <div class="w-3/4 max-w-[80%] m-0 p-0">
          <mat-form-field class="w-full">
            <mat-label>Búsqueda <mat-icon>search</mat-icon></mat-label>
            <input matInput type="search" [(ngModel)]="value">
          </mat-form-field>
        </div>
        <div class="w-full h-[90%] flex flex-col justify-around items-center">
          <div class="w-3/4 max-w-[80%] overflow-y-auto max-h-[50%]">
            <mat-card appearance="raised">
              <mat-card-content>
                <div *ngIf="vm.resourcesTreeResidencial" class="px-4">
                  <app-resource-tree [resourceNode]="vm.resourcesTreeResidencial" [searchTerm]="value" [fromResource]="'selectedResidential'"></app-resource-tree>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="w-3/4 max-w-[80%]">
            <mat-card appearance="raised">
              <mat-card-content>
                <app-control-date (rangeChange)="store.setSelectedRange($event)"></app-control-date>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</section>
