@if (store.vm$ | async; as vm) { @if (vm.isLoading) {
<app-spinner />
}
<main class="h-screen max-h-screen">
  <section class="h-[90%] flex flex-col justify-start items-center">
    <mat-tab-group class="w-full h-full">
      <mat-tab label="Órdenes internas">
        <div class="w-full h-full">
          <app-interns-layout/>
        </div>
      </mat-tab>
    </mat-tab-group>
  </section>
  <footer class="flex justify-center items-center">
    <button class="bg-gray-800 text-white px-4 py-2 rounded hover:bg-gray-950 font-semibold" (click)="store.sendCloseMessage({})">
      Cerrar
    </button>
  </footer>
</main>
}
